div { /*"Main Content" div*/
    background-color: #181A1B;
    padding-top: 20px;
}

#navlist{
    position: fixed;
    z-index: 99;
}

#navlist li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a{
    height: 50px;
    width: 50px;
    display: block;
}

#profile{
    left: 1450px;
    background: url('images/profileicon.PNG') no-repeat;
    background-size: 32px 32px;
    background-position-y: 12px;
}


#subHeader{
    z-index: 98;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    height: auto;
    position: fixed;
    background: #181A1B;
}

/* Sidebar Styles */

div.sidebar {
    margin-top: 85px;
    padding-top: 10px;
    z-index: 98;
    position: fixed;
    height: fit-content;
}
.sidebar {
    width: 80px;
    background: #313131;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
}

/* Sidebar Buttons */
button.league-btn {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

/* Active Sidebar Button */
.league-btn.active {
    background: linear-gradient(to right, #0f8a5f, #66b2ff);
    border-radius: 5px;
}


nav button{
    background: none;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer; 
}

nav button.active {
    background-color: #0f8a5f;
    color: black;
    border-radius: 5px; 
}

nav{
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: fixed;
    background: #181A1B;
}

header { /* Header*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    margin: 0 auto;
    padding: 0;
    z-index: 99;
    background: linear-gradient(to right, #0f8a5f, #66b2ff);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
    position:fixed;
    color: white;
}

body{
    z-index: -1;
    margin: 0; 
    left:0;
    right:0;
    bottom:0;
    background-color: #181A1B;
}

.center-image {
    padding-top: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    animation: logo-spin 4s linear infinite;
}

@keyframes logo-spin{
    50%{rotate: y 180deg;}
}

.footercontainer {
    display: flex;
    width: 100%;
    height: auto;
}

.footercontainer > div {
    width:33%;
}

.footerbold{
    font-weight: bold;
    font-size: 14px;
    color: white;
}

dt{ /*"Footer List" ul*/
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 10px;
    color: white;
}

.footertext{
    text-decoration:none;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: white;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

a{
    text-decoration:none;
    font-weight: normal;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

#search {
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    color: gray;
    border-radius: 5px;
    margin: 5px;
    font-family: Arial;;
}

.player-stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.hudtip {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    display: inline-block;
    background: none;
    font-family: Arial;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.hudtip .hudtext {
    visibility: hidden;
    width: 90px;
    height: fit-content;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-family: Arial;
    font-size: 14px;
}

.hudtip:hover .hudtext {
    visibility: visible;
}

.account-info {
    padding-top: 80px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-info button {
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(to right, #0f8a5f, #66b2ff);
}