div { /*"Main Content" div*/
    background-color: #181A1B;
    padding-top: 20px;
}


#navlist{
    position: fixed;
    z-index: 99;
}

#navlist li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a{
    height: 50px;
    width: 50px;
    display: block;
}

#profile{
    left: 1450px;
    background:   url('images/profileicon.PNG') no-repeat;
    background-size: 32px 32px;
    background-position-y: 12px;
}

nav{
    z-index: 0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    height: auto;
    position: fixed;
    background: #181A1B;
}

nav button{
    background: none;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer; 
}

nav button.active {
    background-color: lightblue;
    color: black;
    border-radius: 5px; 
}
body{
    z-index: -1;
    margin: 0; 
    left:0;
    right:0;
    bottom:0;
    background-color: #181A1B;
}
.footercontainer {
    display: flex;
    width: 100%;
    height: auto;
}

.footercontainer > div {
    width:33%;
}

header { /* Header*/
    top: 0;
    left:0;
    margin: 0;
    padding: 0;
    z-index: 1;
    background: linear-gradient(to right, #0f8a5f, #66b2ff);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
    position:fixed;
    color: white;
}

h3{ /*"Sub Header" h3*/
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    text-align: center;   
}

h3 > a{
    color: gray;
}

figcaption > a{
    color: white;
}

h2{
    padding-top: 30px; 
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.btn{
    background-color: #6f5eff;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 20px;
    width: 100px;
    height: 33px;
}

.btn:hover{
    background-color: darkgray;
}


a{
    text-decoration:none;
    font-weight: normal;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.footertext{
    text-decoration:none;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: white;
}


figure{
    position: center;
    width: 300px;
    min-height: fit-content;
    height: 220px;
    margin: 0 auto 0.55em;
    border: 1px solid #cccccc;
    border-radius: 10px;
    border-width: 2px;
    padding: 15px 15px;
}

figcaption{
    padding-top: 6vh;;
    text-align: center;
    background-color: #181A1B;
    color :white;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
    
dt{ /*"Footer List" ul*/
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 10px;
    color: white;
}

.center-image {
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

.footerbold{
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.leagueStyling{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.leagueStyling figure{
    text-align: center;
    margin: 10px;
}

.leagueStyling > div {
    width:10%;
}

.leagueStyling img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #181A1B;
}

